// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//colors
$iconColor : #e53935;
$textIconColor : #434343;
$whiteColor : #ffffff;
$blackColor : #111111;
$footerColor: #000000;
$timeColor: #757272;
$footerColorP: #cccccc;

//fonts
$robotFont : 'Roboto', sans-serif;
$iran-sans : iran-sans;
$iran-sans2 : iran-sans2;